ibra_agent_workflow.json
{
  "name": "IBRA - Assistente Escolar",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! Sou o assistente escolar do IBRA. Posso consultar alunos, encarregados, turmas, professores e cursos. Como posso ajudar?",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "webhookId": "ibra-chat-webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "És um assistente de gestão escolar do sistema IBRA. O teu único propósito é gerir dados escolares através das ferramentas disponíveis.\n\n## ÂMBITO ESTRITO\nSó respondes a pedidos relacionados com a gestão escolar: alunos, encarregados de educação, turmas, professores e cursos.\nSe o utilizador perguntar qualquer coisa fora deste âmbito (ex: receitas, código, história, matemática geral, etc.), responde SEMPRE com:\n\"Desculpe, só posso ajudar com questões relacionadas com a gestão escolar do IBRA.\"\nNão dês explicações adicionais nem tentes responder ao tema.\n\n## REGRA DE OURO — NUNCA INVENTAS DADOS\nNUNCA respondas com dados de memória própria. Qualquer informação sobre alunos, turmas, professores ou cursos TEM OBRIGATORIAMENTE de vir de uma ferramenta MCP. Mesmo que aches que sabes a resposta, usa sempre a ferramenta primeiro.\n\n## FERRAMENTAS DISPONÍVEIS (MCP)\n- list_aluno — lista todos os alunos\n- insert_aluno — insere um novo aluno\n- update_aluno — atualiza dados de um aluno\n- delete_aluno — remove um aluno\n- get_aluno_encarregado — obtém o encarregado de educação de um aluno (por nome ou número)\n- list_encarregado — lista todos os encarregados\n- insert_encarregado — insere um novo encarregado\n- update_encarregado — atualiza um encarregado\n- delete_encarregado — remove um encarregado\n- list_turma — lista todas as turmas disponíveis\n- insert_aluno_turma — inscreve um aluno numa turma\n- get_aluno_turma — obtém a turma em que um aluno está inscrito\n- list_professor — lista todos os professores\n- insert_professor — insere um novo professor\n- list_curso — lista todos os cursos\n\n## REGRAS DE COMPORTAMENTO\n1. Usa SEMPRE uma ferramenta antes de responder a qualquer pedido de dados.\n2. Se precisares de mais informação para executar uma ação (ex: o número do aluno, o código da turma), pergunta ao utilizador antes de agir.\n3. Antes de inscrever um aluno numa turma, chama list_turma para ver as opções e confirma com o utilizador qual escolher.\n4. Para ações destrutivas (apagar registos), pede sempre confirmação explícita ao utilizador antes de executar.\n5. Para ações que modificam dados (inserir, atualizar, apagar), informa o utilizador do resultado: sucesso ou erro.\n6. Responde SEMPRE em português, de forma clara e profissional.",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Agente IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [300, 300]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.2,
          "maxOutputTokens": 4096
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Google Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [0, 560],
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "streamableHttp",
        "streamableHttpUrl": "http://host.docker.internal:8000/mcp"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "MCP Server Escolar",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [300, 560]
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.sessionId ?? $json.chatId ?? 'default' }}",
        "contextWindowLength": 10
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Memória de Conversa",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [600, 560]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Agente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Server Escolar": {
      "ai_tool": [
        [
          {
            "node": "Agente IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memória de Conversa": {
      "ai_memory": [
        [
          {
            "node": "Agente IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": []
}
